@inherits LayoutComponentBase

@* base for the admin pages *@
<div class="bg-info text-white p-2">
    <span class="navbar-brand m-lg-2">Book Store Administration</span>
</div>

<div class="container-fluid">
    <div class="row p-2">

        <div class="col-3">

            @* buttons for navigation in the admin page *@
            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary col-12 p-2 m-2" href="/admin/books"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
                <br />
                <NavLink class="btn btn-outline-primary col-12 p-2 m-2" href="/admin/orders"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
            </div>
        </div>

        @* render the body *@
        <div class="col">
            @Body
        </div>
    
    </div>
</div>