@page "/admin"

@model Mission07.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

@* create a shell for which each blazor page will work from *@
<html>

    <head>
        <title>Book Store Admin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
        <base href="/" />
    </head>

    <body>
        <component type="typeof(Routed)" render-mode="Server" />
        <script src="/_framework/blazor.server.js"></script>
    </body>

</html>