@page
@model Mission07.Pages.PurchaseCompletedModel
@{
}

@* short purchase confirmation screen with a button to return home *@
<div class="text-center">
    <h2>Thank you for your purchase! You will receive your books shortly.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>

@* loading bar 100% *@
<div class="fixed-bottom bg-dark text-white p-3 text-center">
    <p>Shopping Progress: </p>
    <div style="width:auto">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>