@page
@model Mission07.Pages.PurchaseCompletedModel
@{
}

@* short purchase confirmation screen with a button to return home *@
<div class="text-center">
    <h2>Thank you for your purchase! You will receive your books shortly.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>