@model BooksViewModel

<div class="container">
    @foreach (Book b in Model.Books)
    {
        // pulls this info from the BookSummary.cshtml page
        <partial name="BookSummary" model="b" />
    }
</div>

@* this is created via the paginationTagHelper.cs page *@
<div page-book="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-class-enabled="true" class="btn-group pull-right m-1"></div>